[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
watchdog = "*"
faker = "*"
coverage = "*"
flake8 = "*"

[packages]
bootstrap-flask = "*"
flask-moment = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-wtf = "*"
flask = "*"
pyyaml = "*"
flask-ckeditor = "*"
flask-mail = "*"
flask-login = "*"
flask-debugtoolbar = "*"
flask-migrate = "*"
gunicorn = "*"
flask-avatars = "*"
pillow = "*"
flask-whooshee = "*"
flask-dropzone = "*"
